/* Resetando padrões de margin e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0e0e1b;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.nav-logo {
    font-size: 1.8rem;
    color: #4e9bd1;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-img {
    width: 40px; /* Tamanho da imagem do logo */
    height: 40px;
    margin-right: 10px;
}

.nav-buttons {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 15px;
    right: 30px;
}

.nav-btn {
    background-color: #0f52ba;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: #3a8dff;
}


.main-content {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    height: 100%;
    padding-left: 50px; 
    padding-top: 50px; 
    color: #fff;
}

.welcome-message {
    max-width: 600px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #4e9bd1;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #d1d1d1;
}

strong {
    color: #4e9bd1;
}

a{
    text-decoration: none;              /* Elimina Sublinhado do Link */
    color: inherit;                     /* Mantém a Cor do Link conforme a Tag que Pertence */
}